.skills__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.skills__container > div {

    margin: 5rem 0 2.6rem;
    background: var(--bg-color-2);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
}

.skills__container > div:hover {
    background: transparent;
    border-color: var(--letter-color-2);
    cursor: default;
}

.skills__container > div h3{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--letter-color);
}

.skills__container > div h2{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--letter-color);
}

.skills__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.skills__separator{
    justify-content: center;
    content: '';
    width: 3px;
    height: 20rem;
    background: var(--letter-color);
    margin-top: 5rem;
    white-space: nowrap;
    margin-left: 2rem;
    margin-right: 2rem;
    opacity: 0.4;
}

.subskills__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    gap: 1rem;
}

.software__content {
    display: grid;
    grid-template-columns: 1fr;
}

.subskills__software h3{
    opacity: 0;
}

.skills__details {
    display: flex;
    gap: 1rem;
}

.skills__details small{
    color: #86dada;
}

.roles__names{
    display: inline;
}

.skills__details-icon {
    margin-top: 6px;
    color: var(--letter-color);
    width: 1.5rem;
}

.text-light-2{
    opacity: 0;
}


/* media queries medium*/
@media screen and (max-width: 1024px) {
    .skills__container {
        grid-template-columns: 1fr;
    }

    .skills__container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .skills__content{
        padding: 1rem;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .skills__separator{
        justify-content: center;
        content: '';
        width: 3px;
        height: 17rem;
        background: var(--letter-color);
        margin-top: 5rem;
        white-space: nowrap;
        margin-left: 0.6rem;
        margin-right: 0.6rem;
        opacity: 0.4;
    }
}

/* media queries small*/
@media screen and (max-width: 600px) {
    .skills__container {
        gap: 1rem;

    }

    .skills__container > div {
        width: 100%;
        padding: 2rem 1rem;
    }
    .skills__content{
        padding: 1rem;
        grid-template-columns: 1fr;
    }

    .skills__separator {
        justify-content: center;
        content: '';
        width: 14rem;
        height: 3px;
        background-color: var(--letter-color);
        white-space: nowrap;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        
    }
}